@page "/dashboard"
@rendermode InteractiveServer
<div class="panel-employe">

	<div class="cards">


		<div class="card" id="card-employes">

			<div class="card-content">

				<div class="number">
					<p>00000000.00</p>
				</div>

				<div class="titel">
					<p>Nombre D'employe</p>
				</div>

			</div>

			<div class="card-icon">
				<i class="fa-solid fa-user"></i>
			</div>

		</div>


		<div class="card" id="card-money">

			<div class="card-content">

				<div class="number">
					<p>00000000.00</p><span>DA</span>
				</div>

				<div class="titel">
					<p>Totale D'argent</p>
				</div>

			</div>

			<div class="card-icon">
				<i class="fa-solid fa-sack-dollar"></i>
			</div>

		</div>



		<div class="card" id="card-avance">

			<div class="card-content">

				<div class="number">
					<p>00000000.00</p><span>DA</span>
				</div>

				<div class="titel">
					<p>Totale D'avance</p>
				</div>

			</div>

			<div class="card-icon">
				<i class="fa-solid fa-hand-holding-dollar"></i>
			</div>

		</div>


		<div class="card" id="card-dette">

			<div class="card-content">

				<div class="number">
					<p>00000000.00</p><span>DA</span>
				</div>

				<div class="titel">
					<p>Totale De Dette</p>
				</div>

			</div>

			<div class="card-icon">
				<i class="fa-solid fa-sack-xmark"></i>
			</div>

		</div>

	</div>

</div>