@page "/equipe"
@rendermode InteractiveServer


<div class="panel-employe">


    <div class="option-employe">


        <div class="input-group w-25">
            <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>

        <div class="btn-employe">

            
            <button>Mise a Jour Equipe</button>
            <button>Ajouter Equipe</button>
            <button>Ajouter Post</button>

        </div>

    </div>


    <div class="tab-employe">

        <table class="table">
            <thead>
                <tr>
                    <th>N</th>
                    <th>Nom Equipe</th>
                    <th>Chef Equipe</th>
                    <th>Number Post</th>
                    <th>Option</th>
                    

                </tr>
            </thead>
            <tbody>

                <tr>
                    <td class="a">N</td>
                    <td class="a">Nom E</td>
                    <td class="a">chef E</td>
                    <td class="a">N Post</td>
                    <td>
                        <button class="btn btn-primary">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                        
                    </td>





                </tr>

            </tbody>

        </table>


    </div>


</div>