@page "/pointage"
@rendermode InteractiveServer


<div class="panel-employe">


    <div class="option-employe">


        <div class="input-group w-25">
            <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fa-solid fa-magnifying-glass"></i></button>
            
        </div>

   
        <div class="btn-employe" id="option-pointage">

            <input type="date" class="date-input" />

        </div>

    </div>


    <div class="tab-employe">

        <table class="table">
            <thead>
                <tr>
                    <th>N</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Fonction</th>
                    <th>Status</th>
                    <th>Heur</th>
                    <th>Pourcentage</th>
                    <th>Remarque</th>
                    <th>Option</th>


                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>N</td>
                    <td>Nom</td>
                    <td>Prenom</td>
                    <td>Fonction</td>
                    <td>Status</td>
                    <td>Heur</td>
                    <td>Pourcentage</td>
                    <td>Remarque</td>
                    <td>
                        <button class="btn btn-primary">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>

                    </td>





                </tr>

            </tbody>

        </table>


    </div>


</div>