<div class="nav-bar">


	<div class="nav-bar-logo">
		<img src="Images/FABELEC.png" />
	</div>


	<div class="nav-bar-text">
		<h1>Welcom to APP</h1>
	</div>




</div>

<div class="side-bar">


	<a><div><i class="fa-solid fa-bars"></i> <p>Menu</p> </div></a>
	<a href="/Dashboard">	<div><i class="fa-solid fa-house"></i><p>Dashboard</p></div></a>
	<a href="/employe">	<div><i class="fa-solid fa-user"></i> <p>Employe</p> </div></a>
	<a href="/Equipe">	<div><i class="fa-solid fa-user-group"></i><p>Equipe</p> </div></a>
	<a href="/Pointage">	<div><i class="fa-solid fa-clipboard-list"></i> <p>Pointage</p></div></a>
	<a href="/Paiement">	<div><i class="fa-solid fa-hand-holding-dollar"></i> <p>Paiement</p></div></a>
	<a href="/Dette">	<div><i class="fa-solid fa-sack-xmark"></i> <p>Dette</p></div></a>
	<a href="#">	<div><i class="fa-solid fa-right-from-bracket"></i> <p>Desconnecter</p></div></a>
	
	
	






</div>